/* body  {
  background: url("/public/bg.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
} */

.App {
  text-align: center;
  overflow-x: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.details {
  text-align: left;
  margin: 15px;
  color: rgb(128, 128, 128);
  line-height: 10px;
  box-sizing: border-box;
}

.loginbox {
  margin-bottom: 20px;
}

.loginbox .container {
  width: 30%;
  margin-top: 150px;
  padding: 50px;
  text-align: left;
  border-radius: 15px;
  box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.15)
}

.error {
  color: red;
}

.dashboard-wrapper {
  display: flex;
  background-color: #fff;
}

.bottom-footer {
  color: #fff;
  padding: 15px 0;
  background-color: rgb(29, 29, 29);
}

.content-wrapper {
  flex: 100%;
  flex-direction: column;
  min-height: 100vh;
  height: auto;
}

#navs {
  padding: 8px 30px 8px 30px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  left: 208px;
  margin: auto;
  width: auto;
}

.card {
  min-height: 520px;
  height: auto;
}


.modal-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(183, 183, 183, 0.9);
  z-index: 11;
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50rem;
  background-color: #ffffff;
  padding: 1rem 1.4rem;
  border-radius: 0.5rem;
}

.modal-wrapper p {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
  font-size: 14px;
}

.modal-wrapper img.modal-img {
  margin: 0px auto 10px;
  display: block;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.card-body{
  position: relative;
}

.card-body span.btn-box {
  border: 1px solid #ddd;
  padding: 6px 9px;
  display: inline-flex;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card-body .btn-success,
.card-body .btn-danger {
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  line-height: 0px;
  font-size: inherit;
  box-shadow: none;
}

.checkout-form form,
.list-group {
  text-align: left;
}

.close {
  cursor: pointer;
}

.navbar-brand{
  margin-right: 0;
  margin-left: 1rem;
}

.navbar-expand-lg .navbar-nav{
  align-items: center;
}
.navbar-expand-lg .navbar-nav li.nav-item{
  padding: 0px 0.7rem;
}
.navbar-expand-lg .navbar-nav .nav-link{
  padding: 0px 0.5rem
}

.nav-pills .nav-link{
  padding: 0px 2rem;
}

.userIcon{
  margin-right: 8px;
  vertical-align: sub;
}

.dropdown-toggle::after{
  vertical-align: middle;
}

.navbar.sticky{
  z-index: 1001;
}

.bottom-btns{
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
}

.bottom-btns .mx-3{
  margin-left: 0px !important;
}

.table-wrapper {
  width: 100%;
  overflow-x: auto;
}




/*--------------media-css-----------*/
@media only screen and (max-width: 768px) {
  .loginbox .container {
    width: 80%;
    padding: 30px;
  }

  .nav-pills .nav-link{
    padding: 0px 6px;
  }

  .navbar-collapse{
    display: block;
  }
  .ms-auto{
    margin-left: 0px !important;
  }

  .navbar-expand-lg .navbar-nav{
    align-items: flex-start;
  }

  .navbar-brand{
    margin: 0px 0px 0px 5px;
  }

  .navbar-expand-lg .navbar-nav li.nav-item{
    padding: 0.5rem 5px;
    text-align: left;
    width: 100%;
    position: relative;
  }

  .navbar-expand-lg .navbar-nav .nav-link{
    padding: 0;
  }

  .navbar-expand-lg .navbar-nav li.nav-item button{
    position: absolute;
    right: 0;
    bottom: 14px;
  }

  .card{
    min-height: auto;
  }

  .bottom-btns{
    position: relative;
    bottom: 0;
  }

  .products-inner .p-5{
    padding: 2rem 1rem !important;
  }

 .card img.card-img-top {
  width: 100% !important;
  height: 300px !important;
}

.products-inner .card .btn{
  width: 47%;
}

.table-wrapper {
  overflow-x: auto;
}

.search-bar{
  margin: 10px 0px 5px !important;
}



}